[liscain]
liscain_adopt_dn = liscain.local
liscain_init_username = liscain
liscain_init_password = foobar
database = sqlite:///liscain.sqlite
autoconf_path = config

opt82_zmq_listener = tcp://127.0.0.1:9912
command_socket = tcp://127.0.0.1:1338

autoconf_version_whitelist_prefix = 15.

# uncomment to serve http
#serve_http = yes
#http_port = 8080
#config_source_http = 172.24.2.1:8080

# uncomment with address of the TFTP server to download the configuration from
#config_source_tftp = 172.24.2.1

# set to yes to use autoconfiguration, uncomment one option below
autoconf_enabled = no

# uncomment cdp or opt82 to use autoconfig
#autoconf_mode = cdp
#autoconf_mode = opt82
