[Unit]
Description=Liscain
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
RuntimeDirectory=liscain
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/liscain-ng/env/bin/python /opt/liscain-ng/liscain.py
WorkingDirectory=/opt/liscain-ng

[Install]
WantedBy=multi-user.target

